{% load django_bootstrap5 %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Django, task manager">
    <meta name="description" content="Simple Django task manager">
    <title>{% block title %}{{ base.task_manager }}{% endblock %}</title>
    <link rel="icon" href="{% static 'logo.png' %}" type="image/png" sizes="52x32">
    <!-- Styles -->
    {% bootstrap_css %}
</head>

<body class="min-vh-100 d-flex flex-column">
  <header class="bg-dark flex-shrink-0">
      {% include 'layouts/header.html' %}
  </header>

  {% bootstrap_messages %}

  <main class="flex-grow-1">
      <div class="container-lg mt-3">
          {% block content %}{% endblock %}
      </div>
  </main>

  <footer class="border-top py-3 d-flex justify-content-center flex-shrink-0 mt-2">
      {% include 'layouts/footer.html' %}
  </footer>

  <!-- Scripts -->
  {% bootstrap_javascript %}
</body>
</html>
